{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    <div class="centered">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <form class="d-flex" method="POST" onSubmit='return validate();' action="/search">
            <input class="form-control me-2" name="search-query" type="search" placeholder="Search" aria-label="Search"
                   autofocus="autofocus">
            <button class="btn btn-primary" type="submit" onclick='this.form.submit();'>Search</button>
            <input name="upf-irwa-hidden" type="hidden" value="123">
        </form>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
{% endblock %}
